<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <title>Coding Club</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../events.html">Events</a></li>
            <li><a href="../resources.html">Resources</a></li>
            <li><a href="../members.html">Members</a></li>
        </ul>
    </nav>
</body>
</html>